<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.srpmp.relust.mapper.SrpmsResultSatBookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.srpmp.relust.entity.SrpmsResultSatBook">
        <id column="ID" property="id" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="YEAR" property="year" />
        <result column="MONTH" property="month" />
        <result column="PRO_NUM" property="proNum" />
        <result column="PRO_NAME" property="proName" />
        <result column="BOOK_NAME" property="bookName" />
        <result column="AUTHOR" property="author" />
        <result column="BOOK_ORG" property="bookOrg" />
        <result column="BOOK_LEVEL" property="bookLevel" />
        <result column="PRESS" property="press" />
        <result column="PRESS_TIME" property="pressTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, DEPT_CODE, YEAR, MONTH, PRO_NUM, PRO_NAME, BOOK_NAME, AUTHOR, BOOK_ORG, BOOK_LEVEL, PRESS, PRESS_TIME, CREATE_TIME, CREATE_BY
    </sql>

    <select id="getQueryCount" parameterType="java.util.Map" resultType="int">
        SELECT count(*) FROM
        (SELECT t1.id FROM
        SRPMS_OUTLINE_SAT_BOOK t1
        LEFT JOIN
        SRPMS_OUTLINE_BASE t2
        ON
        t1.BASE_ID = t2.id
        WHERE t2.org_id = #{orgCode}
        AND t1.book_name = #{bookName}
        AND t1.press = #{press}

        UNION ALL

        SELECT t1.ID FROM SRPMS_RESULT_SAT_BOOK t1
        WHERE t1.dept_code = #{orgCode}
        AND t1.book_name = #{bookName}
        AND t1.press = #{press}
        )
    </select>

</mapper>
