<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.fssc.business.pe.mapper.PerSelfAssessmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.fssc.business.pe.entity.PerSelfAssessment">
        <id column="ID" property="id" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="VERSION" property="version" />
        <result column="DOCUMENT_NUM" property="documentNum" />
        <result column="DOCUMENT_STATUS" property="documentStatus" />
        <result column="PROJECT_DUTY" property="projectDuty" />
        <result column="PROJECT_DUTY_ID" property="projectDutyId" />
        <result column="PROJECT_NAME" property="projectName" />
        <result column="DO_DEPT_ID" property="doDeptId" />
        <result column="DO_DEPT_CODE" property="doDeptCode" />
        <result column="DO_DEPT_NAME" property="doDeptName" />
        <result column="DO_UNIT_ID" property="doUnitId" />
        <result column="DO_UNIT_CODE" property="doUnitCode" />
        <result column="DO_UNIT_NAME" property="doUnitName" />
        <result column="FUND_SOURCE_AMOUNT" property="fundSourceAmount" />
        <result column="FUND_SOURCE_PROJECT" property="fundSourceProject" />
        <result column="FUND_SOURCE_OTHER" property="fundSourceOther" />
        <result column="FUND_SOURCE_AMOUNT_YEAR" property="fundSourceAmountYear" />
        <result column="FUND_SOURCE_PROJECT_YEAR" property="fundSourceProjectYear" />
        <result column="FUND_SOURCE_OTHER_YEAR" property="fundSourceOtherYear" />
        <result column="EXECUTE_TOTAL" property="executeTotal" />
        <result column="EXECUTE_PROJECT" property="executeProject" />
        <result column="EXECUTE_OTHER" property="executeOther" />
        <result column="TOTAL_SCORE_VALUE" property="totalScoreValue" />
        <result column="PROJECT_SCORE_VALUE" property="projectScoreValue" />
        <result column="OTHER_SCORE_VALUE" property="otherScoreValue" />
        <result column="EXECUTE_PERCENT_TOTAL" property="executePercentTotal" />
        <result column="EXECUTE_PERCENT_PROJECT" property="executePercentProject" />
        <result column="EXECUTE_PERCENT_OTHER" property="executePercentOther" />
        <result column="TOTAL_SCORED" property="totalScored" />
        <result column="PRJECT_SCORED" property="prjectScored" />
        <result column="OTHER_SCORED" property="otherScored" />
        <result column="PROJECT_TARGET" property="projectTarget" />
        <result column="REAL_COMPLETE_STATUS" property="realCompleteStatus" />
        <result column="REMARK" property="remark" />
        <result column="EX1" property="ex1" />
        <result column="EX2" property="ex2" />
        <result column="EX3" property="ex3" />
        <result column="EX4" property="ex4" />
        <result column="EX5" property="ex5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, UPDATE_BY, UPDATE_TIME, CREATE_TIME, VERSION, DOCUMENT_NUM, DOCUMENT_STATUS, PROJECT_DUTY, PROJECT_DUTY_ID, PROJECT_NAME, DO_DEPT_ID, DO_DEPT_CODE, DO_DEPT_NAME, DO_UNIT_ID, DO_UNIT_CODE, DO_UNIT_NAME, FUND_SOURCE_AMOUNT, FUND_SOURCE_PROJECT, FUND_SOURCE_OTHER, FUND_SOURCE_AMOUNT_YEAR, FUND_SOURCE_PROJECT_YEAR, FUND_SOURCE_OTHER_YEAR, EXECUTE_TOTAL, EXECUTE_PROJECT, EXECUTE_OTHER, TOTAL_SCORE_VALUE, PROJECT_SCORE_VALUE, OTHER_SCORE_VALUE, EXECUTE_PERCENT_TOTAL, EXECUTE_PERCENT_PROJECT, EXECUTE_PERCENT_OTHER, TOTAL_SCORED, PRJECT_SCORED, OTHER_SCORED, PROJECT_TARGET, REAL_COMPLETE_STATUS, REMARK, EX1, EX2, EX3, EX4, EX5
    </sql>

</mapper>
