<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.srpmp.project.mpr.mapper.MprEvaCoopResultTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.srpmp.project.mpr.entity.MprEvaCoopResultTable">
        <id column="ID" property="id" />
        <result column="PROJECT_NO" property="projectNo" />
        <result column="RESULT_NAME" property="resultName" />
        <result column="RESULT_TYPE" property="resultType" />
        <result column="COOP_UNIT" property="coopUnit" />
        <result column="COOP_PERSON" property="coopPerson" />
        <result column="COMPLETE_PERSON_TASK" property="completePersonTask" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PROJECT_NO, RESULT_NAME, RESULT_TYPE, COOP_UNIT, COOP_PERSON, COMPLETE_PERSON_TASK, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
    </sql>

</mapper>
