<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.srpmp.project.mpr.mapper.MprEvaTreaPopTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.srpmp.project.mpr.entity.MprEvaTreaPopTable">
        <id column="ID" property="id" />
        <result column="PROJECT_NO" property="projectNo" />
        <result column="POPULAR_BASE_NAME" property="popularBaseName" />
        <result column="POPULAR_SCIENCE_CONTENT" property="popularScienceContent" />
        <result column="YEAR_ESTABLISHED" property="yearEstablished" />
        <result column="RECEPTION_NUMBER" property="receptionNumber" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PROJECT_NO, POPULAR_BASE_NAME, POPULAR_SCIENCE_CONTENT, YEAR_ESTABLISHED, RECEPTION_NUMBER, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
    </sql>

</mapper>
