<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.srpmp.project.mpr.mapper.MprEvaHighLevelTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.srpmp.project.mpr.entity.MprEvaHighLevelTable">
        <id column="ID" property="id" />
        <result column="PROJECT_NO" property="projectNo" />
        <result column="NAME" property="name" />
        <result column="TALENT_TYPE" property="talentType" />
        <result column="APPROVAL_NUMBER" property="approvalNumber" />
        <result column="BATCH" property="batch" />
        <result column="ELECTED_DATE" property="electedDate" />
        <result column="UNIT" property="unit" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PROJECT_NO, NAME, TALENT_TYPE, APPROVAL_NUMBER, BATCH, ELECTED_DATE, UNIT, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
    </sql>

</mapper>
