<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.fssc.budget.mapper.BudgetProjectBudgetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.fssc.budget.entity.BudgetProjectBudget">
        <result column="ID" property="id" />
        <result column="ORG_UNIT_ID" property="orgUnitId" />
        <result column="ORG_UNIT_CODE" property="orgUnitCode" />
        <result column="ORG_PATH" property="orgPath" />
        <result column="BUDGET_PROJECT_ID" property="budgetProjectId" />
        <result column="PROJECT_CODE" property="projectCode" />
        <result column="SUBJECT_CODE" property="subjectCode" />
        <result column="TASK_CODE" property="taskCode" />
        <result column="PROJECT_STATUS" property="projectStatus" />
        <result column="BUDGET_ACCOUNT_ID" property="budgetAccountId" />
        <result column="BUDGET_ACCOUNT_CODE" property="budgetAccountCode" />
        <result column="BUDGET_ANNUAL" property="budgetAnnual" />
        <result column="BUDGET_PERIOD" property="budgetPeriod" />
        <result column="BUDGET_AMOUNT" property="budgetAmount" />
        <result column="BUDGET_REMAIN_AMOUNT" property="budgetRemainAmount" />
        <result column="BUDGET_OCCUPY_AMOUNT" property="budgetOccupyAmount" />
        <result column="BUDGET_USABLE_AMOUNT" property="budgetUsableAmount" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="EXT1" property="ext1" />
        <result column="EXT2" property="ext2" />
        <result column="EXT3" property="ext3" />
        <result column="EXT4" property="ext4" />
        <result column="EXT5" property="ext5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ORG_UNIT_ID, ORG_UNIT_CODE, ORG_PATH, BUDGET_PROJECT_ID, PROJECT_CODE, SUBJECT_CODE, TASK_CODE,
        PROJECT_STATUS, BUDGET_ACCOUNT_CODE, BUDGET_ANNUAL, BUDGET_PERIOD,
        BUDGET_AMOUNT, BUDGET_REMAIN_AMOUNT, BUDGET_OCCUPY_AMOUNT, BUDGET_USABLE_AMOUNT, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, EXT1, EXT2, EXT3, EXT4, EXT5
    </sql>

    <select id="getSummaryByTaskCode" resultMap="BaseResultMap">
        select task_code,sum(budget_amount) as budget_amount,sum(budget_remain_amount) as budget_remain_amount,
        sum(budget_occupy_amount) as budget_occupy_amount,sum(budget_usable_amount) as budget_usable_amount
        from budget_project_budget
        <where>
             total_flag='Y' and project_code = #{projectCode}
            <if test="budgetAnnual != null and budgetAnnual !=''">
                and budget_annual = #{budgetAnnual}
            </if>
            <if test="taskCode != null and taskCode !=''">
                and task_code = #{taskCode}
            </if>
        </where>
        group by task_code
    </select>

    <select id="getSummaryAccountByTaskCode" resultType="com.deloitte.platform.api.fssc.budget.vo.BudgetProjectBudgetVo">
        select budget.task_code,budget.budget_account_code,
        sum(budget.budget_amount) as budget_amount,
        sum(budget.budget_remain_amount) as budget_remain_amount,
        sum(budget.budget_occupy_amount) as budget_occupy_amount,
        sum(budget.budget_usable_amount) as budget_usable_amount,
        account2.name as budget_account_name
        from budget_project_budget budget, base_budget_account account2
        <where>
            budget.total_flag='Y' and budget.project_code = #{projectCode}
            and budget.budget_account_code = account2.code
            <if test="budgetAnnual != null and budgetAnnual !=''">
                and budget.budget_annual = #{budgetAnnual}
            </if>
            <if test="taskCode != null and taskCode !=''">
                and budget.task_code = #{taskCode}
            </if>
        </where>
        group by budget.task_code,budget.budget_account_code, account2.name
    </select>

    <select id="listVo" resultType="com.deloitte.platform.api.fssc.budget.vo.BudgetProjectBudgetVo">
        select account.id,budget.BUDGET_ACCOUNT_CODE,account.name as BUDGET_ACCOUNT_NAME
        from budget_project_budget budget,base_budget_account account
        where
          budget.budget_account_code = account.code and account.budget_type = 'PROJECT'
          and budget.budget_project_id = #{budgetProjectId} AND BUDGET.TOTAL_FLAG='Y'
         <if test="unitCode != null and unitCode != ''">
             and budget.org_unit_code = #{unitCode}
        </if>
    </select>
</mapper>
