<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.project.mapper.MaintenanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.project.entity.Maintenance">
        <id column="ID" property="id" />
        <result column="MAINTENANCE_ID" property="maintenanceId" />
        <result column="PROJECT_ID" property="projectId" />
        <result column="APPLICATION_ID" property="applicationId" />
        <result column="MAIN_NOTE" property="mainNote" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="EXT1" property="ext1" />
        <result column="EXT2" property="ext2" />
        <result column="MAIN_STATUS_CODE" property="mainStatusCode" />
        <result column="MAIN_STATUS_NAME" property="mainStatusName" />
        <result column="MAIN_PARENT_ID" property="mainParentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, MAINTENANCE_ID, PROJECT_ID, APPLICATION_ID, MAIN_NOTE, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY, EXT1, EXT2, MAIN_STATUS_CODE, MAIN_STATUS_NAME, MAIN_PARENT_ID
    </sql>

</mapper>
