<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.project.mapper.ReviewNoteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.project.entity.ReviewNote">
        <id column="ID" property="id" />
        <result column="APPLICATION_ID" property="applicationId" />
        <result column="REVIEW_MAN" property="reviewMan" />
        <result column="REVIEW_DATE" property="reviewDate" />
        <result column="REVIEW_OPI" property="reviewOpi" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="EXT1" property="ext1" />
        <result column="EXT2" property="ext2" />
        <result column="EXT3" property="ext3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, APPLICATION_ID, REVIEW_MAN, REVIEW_DATE, REVIEW_OPI, CREATE_TIME, CREATE_BY, EXT1, EXT2, EXT3
    </sql>

</mapper>
