<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.srpmp.project.budget.mapper.SrpmsProjectBudgetAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.srpmp.project.budget.entity.SrpmsProjectBudgetAccount">
        <id column="ID" property="id" />
        <result column="PARENT_ID" property="parentId" />
        <result column="PROJECT_CATEGORY" property="projectCategory" />
        <result column="BUDGET_ACCOUNT_YEAR" property="budgetAccountYear" />
        <result column="BUDGET_ACCOUNT_CODE" property="budgetAccountCode" />
        <result column="BUDGET_ACCOUNT_NAME" property="budgetAccountName" />
        <result column="BUDGET_ACCOUNT_STATUS" property="budgetAccountStatus" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PARENT_ID, PROJECT_CATEGORY, BUDGET_ACCOUNT_YEAR, BUDGET_ACCOUNT_CODE, BUDGET_ACCOUNT_NAME, BUDGET_ACCOUNT_STATUS, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
    </sql>

</mapper>
