<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.dss.finance.mapper.FinProjectMapper">

    <!-- 三年项目库预算 -->
    <select id="selectProject" parameterType="java.util.Map"
            resultType="com.deloitte.platform.api.dss.finance.vo.ProjectVo">
        select
          sum(YTD_T1) ytdT1,
          sum(YTD_T2) ytdT2,
          sum(YTD_T3) ytdT3
        from
          DSS_FIN_ETL_PROJECT_FACT fact
        where 1 = 1
        <if test="indexCode != null">
            and fact.INDEX_CODE in ${indexCode}
        </if>
        <if test="comCode != null">
            and fact.COM_CODE in ${comCode}
        </if>
    </select>

    <select id="selectProjectNow" parameterType="java.util.Map"
            resultType="com.deloitte.platform.api.dss.finance.vo.IncomeBudgetVo">
        select
          sum(YTD) ytd
        from
          DSS_FIN_ETL_FACT fact
        inner join
          DSS_FIN_ETL_INDEX ind
        on
          fact.INDEX_CODE = ind.INDEX_CODE
        where
            fact.INDEX_CODE = (
          select INDEX_CODE from DSS_FIN_ETL_PROJECT_MAP2 where INDEX_PROJECT in ${indexCode}
        )
        <if test="comCode != null">
            and fact.COM_CODE in ${comCode}
        </if>
            and fact.PERIOD_CODE = #{periodCode}
    </select>
    <!-- <if test="comCode != null">
        and fact.COM_CODE in ${comCode}
    </if> -->

    <select id="selectProjectNowAll" parameterType="java.util.Map"
            resultType="com.deloitte.platform.api.dss.finance.vo.IncomeBudgetVo">
        select
          sum(YTD) ytd
        from
          DSS_FIN_ETL_FACT fact
        where
          INDEX_CODE in ('FIND0017')
        <if test="comCode != null">
            and fact.COM_CODE in ${comCode}
        </if>
          and PERIOD_CODE = #{periodCode}
    </select>

    <!-- 三年项目库预算分布情况 -->
    <select id="selectProStu" parameterType="java.util.Map"
            resultType="com.deloitte.platform.api.dss.finance.vo.ProjectVo">
        select
        sum(YTD_T1)+sum(YTD_T2)+sum(YTD_T3) ytdT1,
        ind.INDEX_CODE,
        ind.INDEX_DES
        from
        DSS_FIN_ETL_PROJECT_FACT fact
        inner join
        DSS_FIN_ETL_INDEX ind
        on
        ind.INDEX_CODE = fact.INDEX_CODE
        where 1 = 1
        <if test="indexCode != null">
            and fact.INDEX_CODE in ${indexCode}
        </if>
        <if test="comCode != null">
            and fact.COM_CODE in ${comCode}
        </if>
        group by
        ind.INDEX_CODE,ind.INDEX_DES
        order by
        ytdT1
    </select>

    <!-- 三年项目库预算情况 -->
    <select id="selectProEveStu" parameterType="java.util.Map"
            resultType="com.deloitte.platform.api.dss.finance.vo.ProjectVo">
        select
        sum(YTD_T1)+sum(YTD_T2)+sum(YTD_T3) ytdT1,
        com.COM_CODE,
        com.COM_DES
        from
        DSS_FIN_ETL_PROJECT_FACT fact
        inner join
        DSS_FINANCE_COMPANY com
        on
        com.COM_CODE = fact.COM_CODE
        where 1 = 1
        <if test="indexCode != null">
            and fact.INDEX_CODE in ${indexCode}
        </if>
        <if test="comCode != null">
            and fact.COM_CODE in ${comCode}
        </if>
        group by
        com.COM_CODE,com.COM_DES
        order by
        ytdT1
    </select>

    <!-- 当年项目预算执行情况 -->
    <select id="selectNowPro" parameterType="java.util.Map"
            resultType="com.deloitte.platform.api.dss.finance.vo.ProjectVo">

    </select>
    <!-- 查询三年项目库指标 -->
    <select id="selectProIndexCode" resultType="com.deloitte.platform.api.dss.finance.vo.ProjectVo">
        select
        distinct INDEX_CODE indexCode,
        INDEX_DES
        from DSS_FIN_ETL_INDEX where INDEX_CODE between 'FIND0068' and 'FIND0085'
    </select>


</mapper>
