<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.dss.finance.mapper.FinRateMapper">

    <!-- 查询总收入同比 -->
    <select id="selectRate" parameterType="java.util.Map"
            resultType="com.deloitte.platform.api.dss.finance.vo.IncomeBudgetVo">
        select
          sum(YTD_N)/sum(YTD_D)-1 rate,
          ind.INDEX_CODE indexCode,
          ind.INDEX_DES indexDes
        from
          DSS_FIN_ETL_FACT fact
        inner join
          DSS_FIN_ETL_INDEX ind
        on
          fact.INDEX_CODE = ind.INDEX_CODE
        where
          fact.PERIOD_CODE = #{periodCode}
        and
          ind.INDEX_CODE in (
            select distinct INDEX_CODE from DSS_FIN_ETL_INCOME_MAP4
          )
        <if test="indexCode != null">
            and ind.INDEX_CODE =  #{indexCode}
        </if>
        <if test="comCode != null">
            and fact.COM_CODE in ${comCode}
        </if>
        group by
          ind.INDEX_CODE,ind.INDEX_DES
        order by
          ind.INDEX_CODE
    </select>

    <!-- 查询单个机构年总收入同比 -->
    <select id="selectComRate" parameterType="java.util.Map"
            resultType="com.deloitte.platform.api.dss.finance.vo.IncomeBudgetVo">
        select
        sum(YTD_N)/sum(YTD_D)-1 rate,
        ind.INDEX_CODE indexCode,
        ind.INDEX_DES indexDes,
        com.COM_CODE comCode,
        com.COM_DES comDes
        from
        DSS_FIN_ETL_FACT fact
        inner join
        DSS_FIN_ETL_INDEX ind
        on
        fact.INDEX_CODE = ind.INDEX_CODE
        inner join
        DSS_FINANCE_COMPANY com
        on
        fact.COM_CODE = com.COM_CODE
        where
        fact.PERIOD_CODE like #{periodCode}||'%'
        and
        ind.INDEX_CODE in (
        select distinct INDEX_CODE from DSS_FIN_ETL_INCOME_MAP4
        )
        <if test="comCode != null">
            and fact.COM_CODE in ${comCode}
        </if>
        <if test="indexCode != null">
            and fact.INDEX_CODE = #{indexCode}
        </if>
        group by
        ind.INDEX_CODE,ind.INDEX_DES,com.COM_CODE,com.COM_DES
        order by
        ind.INDEX_CODE
    </select>

    <!-- 查询各月总收入同比 -->
    <select id="selectComRateMonth" parameterType="java.util.Map"
            resultType="com.deloitte.platform.api.dss.finance.vo.IncomeBudgetVo">
        select
          sum(YTD_N)/sum(YTD_D)-1 rate,
          ind.INDEX_CODE indexCode,
          ind.INDEX_DES indexDes,
          PERIOD_CODE periodCode
        from
          DSS_FIN_ETL_FACT fact
        inner join
          DSS_FIN_ETL_INDEX ind
        on
          fact.INDEX_CODE = ind.INDEX_CODE
        where
        fact.PERIOD_CODE in ${monthTotal}
        and
          ind.INDEX_CODE in (
            select distinct INDEX_CODE from DSS_FIN_ETL_INCOME_MAP4
          )
        <if test="indexCode != null">
            and ind.INDEX_CODE = #{indexCode}
        </if>
        <if test="comCode != null">
            and fact.COM_CODE in ${comCode}
        </if>
        group by
          ind.INDEX_CODE,ind.INDEX_DES,PERIOD_CODE
        order by
          PERIOD_CODE
    </select>

    <!-- 查询机构各月同比增长 -->
    <select id="selectComRateMonth" parameterType="java.util.Map"
            resultType="com.deloitte.platform.api.dss.finance.vo.IncomeBudgetVo">
        select
        sum(YTD) ytd,
        sum(PTD) ptd,
        ind.INDEX_CODE indexCode,
        ind.INDEX_DES indexDes,
        PERIOD_CODE periodCode
        from
        DSS_FIN_ETL_FACT fact
        inner join
        DSS_FIN_ETL_INDEX ind
        on
        fact.INDEX_CODE = ind.INDEX_CODE
        inner join
        DSS_FINANCE_COMPANY com
        on
        com.COM_CODE = fact.COM_CODE
        where
        fact.PERIOD_CODE between #{periodCodeBefore} and #{periodCodeNow}
        and
        fact.COM_CODE = #{comCode}
        and
        ind.INDEX_CODE in (
        select distinct INDEX_CODE from DSS_FIN_ETL_INCOME_MAP4 where rownum = 1
        )
        <if test="indexCode != null">
            and ind.INDEX_CODE =  #{indexCode}
        </if>
        group by
        ind.INDEX_CODE,ind.INDEX_DES,PERIOD_CODE,PERIOD_CODE
        order by
        PERIOD_CODE
    </select>

    <!-- 查询总支出同比 -->
    <select id="selectExpRate" parameterType="java.util.Map"
            resultType="com.deloitte.platform.api.dss.finance.vo.IncomeBudgetVo">
        select
          sum(YTD_N)/sum(YTD_D)-1 rate,
          ind.INDEX_CODE indexCode,
          ind.INDEX_DES indexDes
        from
          DSS_FIN_ETL_FACT fact
        inner join
          DSS_FIN_ETL_INDEX ind
        on
          fact.INDEX_CODE = ind.INDEX_CODE
        where
          fact.PERIOD_CODE like #{periodCode}||'%'
        and
          ind.INDEX_CODE in (
            select distinct INDEX_CODE from DSS_FIN_ETL_EXP_MAP4
          )
        <if test="indexCode != null">
            and ind.INDEX_CODE = #{indexCode}
        </if>
        <if test="comCode != null">
            and fact.COM_CODE in ${comCode}
        </if>
        group by
          ind.INDEX_CODE,ind.INDEX_DES
        order by
          ind.INDEX_CODE
    </select>

    <!-- 查询单个机构年总支出详情 -->
    <select id="selectComExpRate" parameterType="java.util.Map"
            resultType="com.deloitte.platform.api.dss.finance.vo.IncomeBudgetVo">
        select
        sum(YTD_N) ytdN,
        sum(YTD_D) ytdD,
        ind.INDEX_CODE indexCode,
        ind.INDEX_DES indexDes,
        com.COM_CODE comCode,
        com.COM_DES comDes
        from
        DSS_FIN_ETL_FACT fact
        inner join
        DSS_FIN_ETL_INDEX ind
        on
        fact.INDEX_CODE = ind.INDEX_CODE
        inner join
        DSS_FINANCE_COMPANY com
        on
        fact.COM_CODE = com.COM_CODE
        where
        fact.PERIOD_CODE = #{periodCode}
        and
        ind.INDEX_CODE in (
        select distinct INDEX_CODE from DSS_FIN_ETL_EXP_MAP4
        )
        <if test="comCode != null">
            and fact.COM_CODE in ${comCode}
        </if>
        <if test="indexCode != null">
            and fact.INDEX_CODE = #{indexCode}
        </if>
        group by
        ind.INDEX_CODE,ind.INDEX_DES,com.COM_CODE,com.COM_DES
        order by
        ind.INDEX_CODE
    </select>

    <!-- 查询各个机构年总收入同比 -->
    <select id="selectComYearRate" parameterType="java.util.Map"
            resultType="com.deloitte.platform.api.dss.finance.vo.IncomeBudgetVo">
        select
        sum(YTD_N)/sum(YTD_D)-1 rate,
        ind.INDEX_CODE indexCode,
        ind.INDEX_DES indexDes,
        com.COM_CODE comCode,
        com.COM_DES comDes
        from
        DSS_FIN_ETL_FACT fact
        inner join
        DSS_FIN_ETL_INDEX ind
        on
        fact.INDEX_CODE = ind.INDEX_CODE
        inner join
        DSS_FINANCE_COMPANY com
        on
        fact.COM_CODE = com.COM_CODE
        where
        fact.PERIOD_CODE like #{periodCode}||'%'
        and
        ind.INDEX_CODE in (
        select distinct INDEX_CODE from DSS_FIN_ETL_INCOME_MAP4
        )
        <if test="comCode != null">
            and fact.COM_CODE in ${comCode}
        </if>
        <if test="indexCode != null">
            and fact.INDEX_CODE = #{indexCode}
        </if>
        group by
        ind.INDEX_CODE,ind.INDEX_DES,com.COM_CODE,com.COM_DES
        order by
        rate
    </select>

</mapper>
