<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.srpmp.project.base.mapper.SrpmsProjectAttachmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.srpmp.project.base.entity.SrpmsProjectAttachment">
        <id column="ID" property="id" />
        <result column="PROJECT_ID" property="projectId" />
        <result column="SERIAL" property="serial" />
        <result column="ATTACHMENT_CATEGORY" property="attachmentCategory" />
        <result column="FILE_TYPE" property="fileType" />
        <result column="ATTACHMENT_NAME" property="attachmentName" />
        <result column="FILE_URL" property="fileUrl" />
        <result column="ATTACHMENT_REMARK" property="attachmentRemark" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PROJECT_ID, SERIAL, ATTACHMENT_CATEGORY, FILE_TYPE, ATTACHMENT_NAME, FILE_URL, ATTACHMENT_REMARK, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
    </sql>

</mapper>
