<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.srpmp.project.base.mapper.SrpmsVoucherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.srpmp.project.base.entity.SrpmsVoucher">
        <id column="ID" property="id" />
        <result column="BIZ_NUMBER" property="bizNumber" />
        <result column="VOUCHER_NAME" property="voucherName" />
        <result column="VOUCHER_TYPE" property="voucherType" />
        <result column="VOUCHER_STATUS" property="voucherStatus" />
        <result column="USER_ID" property="userId" />
        <result column="PERSON_NAME" property="personName" />
        <result column="START_TIME" property="startTime" />
        <result column="END_TIME" property="endTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="PROJECT_ID" property="projectId" />
        <result column="PROJECT_FLAG" property="projectFlag" />
        <result column="PROJECT_TYPE" property="projectType" />
        <result column="RECALL_FLAG" property="recallFlag" />
        <result column="LEAD_DEPT_CODE" property="LEAD_DEPT_CODE" />
        <result column="AUDIT_MODE" property="AUDIT_MODE" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, BIZ_NUMBER, VOUCHER_NAME, VOUCHER_TYPE, VOUCHER_STATUS, USER_ID, PERSON_NAME, START_TIME, END_TIME, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY, PROJECT_ID, PROJECT_FLAG, PROJECT_TYPE, RECALL_FLAG, LEAD_DEPT_CODE, AUDIT_MODE
    </sql>

</mapper>
