<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.srpmp_project_apply_inn_coo.mapper.SrpmsProjectApplyInnCooMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.srpmp.project.apply.entity.SrpmsProjectApplyInnCoo">
        <id column="ID" property="id" />
        <result column="PROJECT_NAME" property="projectName" />
        <result column="TOP_EXPERT_PERSON_ID" property="topExpertPersonId" />
        <result column="TEAM_DIRECTION" property="teamDirection" />
        <result column="TEAM_EN_NAME" property="teamEnName" />
        <result column="TASK_DIAGRAM" property="taskDiagram" />
        <result column="TEAM_CONSTITUTE" property="teamConstitute" />
        <result column="TOP_EXPERT_PERSON_INTRO" property="topExpertPersonIntro" />
        <result column="TEAM_MEMBER_INTRO" property="teamMemberIntro" />
        <result column="PERFORMANCE_LATELY" property="performanceLately" />
        <result column="PROJECT_TARGET" property="projectTarget" />
        <result column="RESEARCH_PLAN" property="researchPlan" />
        <result column="RESEARCH_CONTENT_INTERFLOW" property="researchContentInterflow" />
        <result column="RESEARCH_CONTENT_INNOVATE" property="researchContentInnovate" />
        <result column="ACHIEVEMENT_FORM" property="achievementForm" />
        <result column="ACHIEVEMENT_BENEFIT" property="achievementBenefit" />
        <result column="MANAGE_GUARANTEE" property="manageGuarantee" />
        <result column="MANAGE_KNOWLEDGE_RIGHT" property="manageKnowledgeRight" />
        <result column="MANAGE_RISK" property="manageRisk" />
        <result column="GUARANTEE_PLAN" property="guaranteePlan" />
        <result column="FUND_SOURCE_AMOUNT" property="fundSourceAmount" />
        <result column="FUND_SOURCE_PROJECT" property="fundSourceProject" />
        <result column="FUND_SOURCE_SELF" property="fundSourceSelf" />
        <result column="FUND_SOURCE_OTHER" property="fundSourceOther" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="BELONG_DOMAIN" property="belongDomain" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PROJECT_NAME, TOP_EXPERT_PERSON_ID, TEAM_DIRECTION, TEAM_EN_NAME, TASK_DIAGRAM, TEAM_CONSTITUTE, TOP_EXPERT_PERSON_INTRO, TEAM_MEMBER_INTRO, PERFORMANCE_LATELY, PROJECT_TARGET, RESEARCH_PLAN, RESEARCH_CONTENT_INTERFLOW, RESEARCH_CONTENT_INNOVATE, ACHIEVEMENT_FORM, ACHIEVEMENT_BENEFIT, MANAGE_GUARANTEE, MANAGE_KNOWLEDGE_RIGHT, MANAGE_RISK, GUARANTEE_PLAN, FUND_SOURCE_AMOUNT, FUND_SOURCE_PROJECT, FUND_SOURCE_SELF, FUND_SOURCE_OTHER, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY, BELONG_DOMAIN
    </sql>

</mapper>
