<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.srpmp.project.apply.mapper.SrpmsProjectApplyReformMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.srpmp.project.apply.entity.SrpmsProjectApplyReform">
        <id column="ID" property="id" />
        <result column="PROJECT_NAME" property="projectName" />
        <result column="APPLY_FUNDS" property="applyFunds" />
        <result column="PROJECT_ACTION_DATE_START" property="projectActionDateStart" />
        <result column="PROJECT_ACTION_DATE_END" property="projectActionDateEnd" />
        <result column="PROJECT_APPLICANT_ID" property="projectApplicantId" />
        <result column="EXPENDITURE_BUDGET_DETAIL" property="expenditureBudgetDetail" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="APPROVAL_BASIS_MEANING" property="approvalBasisMeaning" />
        <result column="CONTENT_TARGET_PROBLEM" property="contentTargetProblem" />
        <result column="RESEARCH_SCHEME_FEASIBILITY" property="researchSchemeFeasibility" />
        <result column="PROJECT_EXPECT_TARGET" property="projectExpectTarget" />
        <result column="PROJECT_TECHNICAL_INNOVATION" property="projectTechnicalInnovation" />
        <result column="RESEARCH_FOUNDATION" property="researchFoundation" />
        <result column="WORKINF_CONDITIONS" property="workinfConditions" />
        <result column="PROJECT_APPLICANT_INTRODUCTION" property="projectApplicantIntroduction" />
        <result column="BUDGET_DESCRIPTION" property="budgetDescription" />
        <result column="PROJECT_ABSTRACT" property="projectAbstract" />
        <result column="PROJECT_ORGANIZING_UNIT" property="projectOrganizingUnit" />
        <result column="PROJECT_COMMITMENT_UNIT" property="projectCommitmentUnit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PROJECT_NAME, APPLY_FUNDS, PROJECT_ACTION_DATE_START, PROJECT_ACTION_DATE_END, PROJECT_APPLICANT_ID, EXPENDITURE_BUDGET_DETAIL, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY, APPROVAL_BASIS_MEANING, CONTENT_TARGET_PROBLEM, RESEARCH_SCHEME_FEASIBILITY, PROJECT_EXPECT_TARGET, PROJECT_TECHNICAL_INNOVATION, RESEARCH_FOUNDATION, WORKINF_CONDITIONS, PROJECT_APPLICANT_INTRODUCTION, BUDGET_DESCRIPTION, PROJECT_ABSTRACT,PROJECT_ORGANIZING_UNIT,PROJECT_COMMITMENT_UNIT
    </sql>

</mapper>
