<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.fssc.business.ppc.mapper.ContractInformationMapper">

    <!-- 通用查询映射结果 -->


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CREATE_BY, CREATE_USER_NAME, UPDATE_BY, UPDATE_TIME, CREATE_TIME, VERSION, DOCUMENT_ID, DOCUMENT_TYPE, DOCUMENT_NUM, RECIEVE_UNIT_NAME, RECIEVE_BANK_NAME, RECIEVE_BANK_TYPE, RECIEVE_BANK_ACCOUNT, CONTRACT_DOCUMENT_ID, CONTRACT_DOCUMENT_NUM, DEPT_NAME, FEASOR, AGREE_RECIEVE_BATCH, AGREE_CONVENTIONAL_SCALE, AGREE_RECIEVE_AMOUNT, PLAN_RECIEVE_TIME, CONTRACT_DOCUMENT_TYPE, CONTRACT_TYPE, CONTRACT_NAME, IN_COME_SUB_TYPE_ID, IN_COME_SUB_TYPE_CODE, IN_COME_SUB_SUBJECT_CODE, IN_COME_SUB_TYPE_NAME, RECIEVE_AMOUNT, RECIEVE_CONFIRM_AMOUNT, RECIEVE_TIME, PAY_BANK_NAME, PAY_BANK_ACCOUNT, PAY_UNIT_NAME, REMARK, EX1, EX2, EX3, EX4, EX5, EX6, EX7, EX8, EX9, EX10, EX11, EX12, EX13, EX14, EX15, LINE_NUMBER
    </sql>

</mapper>
