<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.fssc.business.ppc.mapper.ProjectRecieveDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.fssc.business.ppc.entity.ProjectRecieveDetail">
        <id column="ID" property="id" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_USER_NAME" property="createUserName" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="DOCUMENT_ID" property="documentId" />
        <result column="DOCUMENT_TYPE" property="documentType" />
        <result column="VERSION" property="version" />
        <result column="CONNECT_DOCUMENT_ID" property="connectDocumentId" />
        <result column="CONNECT_DOCUMENT_TYPE" property="connectDocumentType" />
        <result column="CONNECT_DOCUMENT_NUM" property="connectDocumentNum" />
        <result column="RECIEVE_UNIT_NAME" property="recieveUnitName" />
        <result column="RECIEVE_BANK_NAME" property="recieveBankName" />
        <result column="RECIEVE_BANK_TYPE" property="recieveBankType" />
        <result column="RECIEVE_BANK_ACCOUNT" property="recieveBankAccount" />
        <result column="IN_COME_SUB_TYPE_ID" property="inComeSubTypeId" />
        <result column="IN_COME_SUB_TYPE_CODE" property="inComeSubTypeCode" />
        <result column="IN_COME_SUB_TYPE_NAME" property="inComeSubTypeName" />
        <result column="RECIEVE_AMOUNT" property="recieveAmount" />
        <result column="RECIEVE_CONFIRM_AMOUNT" property="recieveConfirmAmount" />
        <result column="RECIEVE_TIME" property="recieveTime" />
        <result column="PAY_BANK_NAME" property="payBankName" />
        <result column="PAY_BANK_ACCOUNT" property="payBankAccount" />
        <result column="PAY_UNIT_NAME" property="payUnitName" />
        <result column="REMARK" property="remark" />
        <result column="EX1" property="ex1" />
        <result column="EX2" property="ex2" />
        <result column="EX3" property="ex3" />
        <result column="EX4" property="ex4" />
        <result column="EX5" property="ex5" />
        <result column="EX6" property="ex6" />
        <result column="EX7" property="ex7" />
        <result column="EX8" property="ex8" />
        <result column="EX9" property="ex9" />
        <result column="EX10" property="ex10" />
        <result column="EX11" property="ex11" />
        <result column="EX12" property="ex12" />
        <result column="EX13" property="ex13" />
        <result column="EX14" property="ex14" />
        <result column="EX15" property="ex15" />
        <result column="LINE_NUMBER" property="lineNumber" />
        <result column="IN_COME_SUB_SUBJECT_CODE" property="inComeSubSubjectCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CREATE_BY, CREATE_USER_NAME, UPDATE_BY, UPDATE_TIME, CREATE_TIME, DOCUMENT_ID, DOCUMENT_TYPE, VERSION, CONNECT_DOCUMENT_ID, CONNECT_DOCUMENT_TYPE, CONNECT_DOCUMENT_NUM, RECIEVE_UNIT_NAME, RECIEVE_BANK_NAME, RECIEVE_BANK_TYPE, RECIEVE_BANK_ACCOUNT, IN_COME_SUB_TYPE_ID, IN_COME_SUB_TYPE_CODE, IN_COME_SUB_TYPE_NAME, RECIEVE_AMOUNT, RECIEVE_CONFIRM_AMOUNT, RECIEVE_TIME, PAY_BANK_NAME, PAY_BANK_ACCOUNT, PAY_UNIT_NAME, REMARK, EX1, EX2, EX3, EX4, EX5, EX6, EX7, EX8, EX9, EX10, EX11, EX12, EX13, EX14, EX15, LINE_NUMBER, IN_COME_SUB_SUBJECT_CODE
    </sql>

</mapper>
