<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.contract.mapper.BasicAttamentMapMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.contract.entity.BasicAttamentMap">
        <id column="ID" property="id" />
        <result column="CONTRACT_ID" property="contractId" />
        <result column="ATTAMENT_ID" property="attamentId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="IS_USED" property="isUsed" />
        <result column="SPARE_FIELD_1" property="spareField1" />
        <result column="SPARE_FIELD_2" property="spareField2" />
        <result column="SPARE_FIELD_3" property="spareField3" />
        <result column="SPARE_FIELD_4" property="spareField4" />
        <result column="SPARE_FIELD_5" property="spareField5" />
        <result column="FILE_NAME" property="fileName" />
        <result column="FILE_URL" property="fileUrl" />
        <result column="FILE_SIZE" property="fileSize" />
        <result column="UPLOAD_TIME" property="uploadTime" />
        <result column="FILE_EXT" property="fileExt" />
        <result column="FILE_TYPE" property="fileType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CONTRACT_ID, ATTAMENT_ID, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY, IS_USED, SPARE_FIELD_1, SPARE_FIELD_2, SPARE_FIELD_3, SPARE_FIELD_4, SPARE_FIELD_5, FILE_NAME, FILE_URL, FILE_SIZE, UPLOAD_TIME, FILE_EXT, FILE_TYPE
    </sql>

    <delete id="deleteByContractIdAndFileType" parameterType="java.lang.String">
		DELETE CONTRACT_BASIC_ATTAMENT_MAP T WHERE T.CONTRACT_ID = #{contractId} AND T.FILE_TYPE = #{fileType}
	</delete>

    <select id="selectByAttamentId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT <include refid="Base_Column_List" /> FROM CONTRACT_BASIC_ATTAMENT_MAP T WHERE T.ATTAMENT_ID = #{attamentId}
    </select>

    <select id="selectByContractId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT <include refid="Base_Column_List" /> FROM CONTRACT_BASIC_ATTAMENT_MAP T WHERE T.CONTRACT_ID = #{contractId}
    </select>
</mapper>
