<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.contract.mapper.ProcessOperatorTransferMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.contract.entity.ProcessOperatorTransfer">
        <id column="ID" property="id" />
        <result column="CONTRACT_ID" property="contractId" />
        <result column="OPERATOR_CODE" property="operatorCode" />
        <result column="OPERATOR" property="operator" />
        <result column="NEW_OPERATOR_CODE" property="newOperatorCode" />
        <result column="NEW_OPERATOR" property="newOperator" />
        <result column="PROCESS_ID" property="processId" />
        <result column="PROCESS_INSTANCE_ID" property="processInstanceId" />
        <result column="STATUE" property="statue" />
        <result column="SEND_TIME" property="sendTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="SPARE_FIELD_1" property="spareField1" />
        <result column="SPARE_FIELD_2" property="spareField2" />
        <result column="SPARE_FIELD_3" property="spareField3" />
        <result column="SPARE_FIELD_4" property="spareField4" />
        <result column="SPARE_FIELD_5" property="spareField5" />
        <result column="TRANSFER_RESULT" property="transferResult" />
        <result column="OLD_ORG_ID" property="oldOrgId"/>
        <result column="OLD_ORG" property="oldOrg"/>
        <result column="ORG_ID" property="orgId"/>
        <result column="ORG" property="org"/>
        <result column="OLD_OPERATOR_INFOMATION" property="oldOperatorInfomation"/>
        <result column="OPERATOR_INFOMATION" property="operatorInfomation"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CONTRACT_ID, OPERATOR_CODE, OPERATOR, NEW_OPERATOR_CODE, NEW_OPERATOR, PROCESS_ID, PROCESS_INSTANCE_ID, STATUE, SEND_TIME, CREATE_TIME, SPARE_FIELD_1, SPARE_FIELD_2, SPARE_FIELD_3, SPARE_FIELD_4, SPARE_FIELD_5, TRANSFER_RESULT,
        OLD_ORG_ID, OLD_ORG, ORG_ID, ORG, OLD_OPERATOR_INFOMATION, OPERATOR_INFOMATION
    </sql>

</mapper>
