<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.contract.mapper.ProcessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.contract.entity.Process">
        <id column="ID" property="id" />
        <result column="ORG_CODE" property="orgCode" />
        <result column="INCOME_EXPENDITURE_TYPE_CODE" property="incomeExpenditureTypeCode" />
        <result column="PROCESS_TYPE" property="processType" />
        <result column="CONTRACT_AMOUNT_MIN" property="contractAmountMin" />
        <result column="CONTRACT_AMOUNT_MAX" property="contractAmountMax" />
        <result column="PROCESS_DEFINE_KEY" property="processDefineKey" />
        <result column="PROCESS_DEFINE_NAME" property="processDefineName" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="IS_USED" property="isUsed" />
        <result column="SPARE_FIELD_1" property="spareField1" />
        <result column="SPARE_FIELD_2" property="spareField2" />
        <result column="SPARE_FIELD_3" property="spareField3" />
        <result column="SPARE_FIELD_4" property="spareField4" />
        <result column="SPARE_FIELD_5" property="spareField5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ORG_CODE, INCOME_EXPENDITURE_TYPE_CODE, PROCESS_TYPE, CONTRACT_AMOUNT_MIN, CONTRACT_AMOUNT_MAX, PROCESS_DEFINE_KEY, PROCESS_DEFINE_NAME, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY, IS_USED, SPARE_FIELD_1, SPARE_FIELD_2, SPARE_FIELD_3, SPARE_FIELD_4, SPARE_FIELD_5
    </sql>
    <select id="getEndKeyByStartKey" resultType="com.deloitte.services.contract.entity.Process" parameterType="java.lang.String">
        SELECT CP2.*
          FROM CONTRACT_CANCEL_PROCESS_KEY CC
          LEFT JOIN CONTRACT_PROCESS CP1
            ON CC.START_ID = CP1.ID
          LEFT JOIN CONTRACT_PROCESS CP2
            ON CC.END_ID = CP2.ID
         WHERE CP1.PROCESS_DEFINE_KEY = #{processDefineKey}
    </select>
</mapper>
