<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.contract.mapper.SysContractNoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.contract.entity.SysContractNo">
        <id column="ID" property="id" />
        <result column="COMPANY_CODE" property="companyCode" />
        <result column="COMPANY_NAME" property="companyName" />
        <result column="COMPANY_SHORT" property="companyShort" />
        <result column="DEPARTMENT_CODE" property="departmentCode" />
        <result column="DEPARTMENT_NAME" property="departmentName" />
        <result column="DEPARTMENT_SHORT" property="departmentShort" />
        <result column="SERIAL_NUMBER" property="serialNumber" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="IS_USED" property="isUsed" />
        <result column="SPARE_FIELD_1" property="spareField1" />
        <result column="SPARE_FIELD_2" property="spareField2" />
        <result column="SPARE_FIELD_3" property="spareField3" />
        <result column="SPARE_FIELD_4" property="spareField4" />
        <result column="SPARE_FIELD_5" property="spareField5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, COMPANY_CODE, COMPANY_NAME, COMPANY_SHORT, DEPARTMENT_CODE, DEPARTMENT_NAME, DEPARTMENT_SHORT, SERIAL_NUMBER, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY, IS_USED, SPARE_FIELD_1, SPARE_FIELD_2, SPARE_FIELD_3, SPARE_FIELD_4, SPARE_FIELD_5
    </sql>

    <select id="getContractNo" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM SYS_CONTRACT_NO T WHERE T.COMPANY_CODE = #{comp} AND T.DEPARTMENT_CODE = #{dep} AND T.CONTRACT_YEAR = #{year}
    </select>

    <update id="UpdateContractNo" parameterType="String">
        UPDATE SYS_CONTRACT_NO T
        <set>
            T.SERIAL_NUMBER = #{newNo}
        </set>
        WHERE T.COMPANY_CODE = #{comp} AND T.DEPARTMENT_CODE = #{dep} AND T.CONTRACT_YEAR = #{year}
    </update>
</mapper>
