<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.dss.scientific.mapper.RegionalMapper">

    <resultMap id="RegionalProScaleVo" type="com.deloitte.platform.api.dss.scientific.vo.RegionalProScaleVo">
        <result column="continueNum" property="continueNum" />
        <result column="newNum" property="newNum" />
        <result column="budgetAmout" property="budgetAmout" />
        <result column="receiveOutlay" property="receiveOutlay" />
    </resultMap>

    <resultMap id="RegionalAgeVo" type="com.deloitte.platform.api.dss.scientific.vo.RegionalAgeVo">
        <result column="totalNum" property="totalNum" />
        <result column="over45Num" property="over45Num" />
        <result column="low45Num" property="low45Num" />
        <result column="highNum" property="highNum" />
    </resultMap>

    <resultMap id="RegionalDataVo" type="com.deloitte.platform.api.dss.scientific.vo.RegionalDataVo">
        <result column="provice" property="provice" />
        <result column="taskNum" property="taskNum" />
        <result column="proNum" property="proNum" />
        <result column="fundMoney" property="fundMoney" />
        <result column="ID" property="id"/>
    </resultMap>

    <select id="queryTotalNum"  resultType="java.lang.Long"  parameterType="java.util.Map">
        <![CDATA[
            select  count(*) totalNum from (
                        select PRO_CODE proCode
                        from SRPMS_OUTLINE_NEW_TITLE nt
                        where to_char(nt.PRO_START_DATE, 'yyyy') <= to_char(sysdate, 'yyyy')
                          and to_char(nt.PRO_END_DATE, 'yyyy') >= to_char(sysdate, 'yyyy')
                        union
                        select PROJECT_NUM proCode
                        from SRPMS_PROJECT pro
                        where pro.status = 50
                          and to_char(pro.project_action_date_start, 'yyyy') <=
                              to_char(sysdate, 'yyyy')
                          and to_char(pro.project_action_date_end, 'yyyy') >=
                              to_char(sysdate, 'yyyy')
                      ) temp
        ]]>
    </select>

    <select id="queryApplayNum"  resultType="java.lang.Long"  parameterType="java.util.Map">
        <![CDATA[
            select  count(0) applayNum from (
              select PRO_CODE proCode
              from SRPMS_OUTLINE_NEW_TITLE nt
              where to_char(nt.PRO_START_DATE, 'yyyy') = to_char(sysdate, 'yyyy')
              union
              select PROJECT_NUM proCode
              from SRPMS_PROJECT pro
              where pro.status = 50
              and to_char(pro.project_action_date_start, 'yyyy') = to_char(sysdate, 'yyyy')
              ) temp1
        ]]>
    </select>


    <select id="queryReceviceOutlay"  resultType="java.lang.Double"  parameterType="java.util.Map">
        <![CDATA[
         select
               sum(receiveOutlay)  receiveOutlay
        from
        (
          select sum(PRO_RECEIVE_OUTLAY) receiveOutlay
          from SRPMS_OUTLINE_NEW_TITLE nt,SRPMS_OUTLINE_BASE base
          where nt.BASE_ID = base.ID  and  base.YEAR  = to_char(sysdate, 'yyyy')
          union  all
          select  sum(outlay.PRD_RECEIVE_OUTLAY) receiveOutlay  from DSS_PRD_RECEIVE_OUTLAY_ACADEMY  outlay
          where  SUBSTR(outlay.PERIOD_RECEIVE, 0, 4) = to_char(sysdate, 'yyyy')
          )


        ]]>
    </select>




    <!--任务地区项目数量-->
    <select id="queryRegionProNum"  resultMap="RegionalDataVo"  parameterType="java.util.Map">
        <![CDATA[
          select PROVINCE_CODE  baseType,count(distinct pro.ID) proNum
            from SRPMS_PROJECT_TASK_INN  task ,SRPMS_PROJECT pro,ISUMP_DEPT dept
              where pro.ID  = task.PROJECT_ID
                   and  pro.LEAD_DEPT_ID = dept.ID
                   and  pro.status = 50
                   and to_char(pro.project_action_date_start, 'yyyy') <=
              to_char(sysdate, 'yyyy')
                     and to_char(pro.project_action_date_end, 'yyyy') >=
                              to_char(sysdate, 'yyyy')
                        group by dept.PROVINCE_CODE
        ]]>
    </select>



    <!-- 任务地区项目金额-->
    <select id="queryRegionProMoney"  resultMap="RegionalDataVo"  parameterType="java.util.Map">
        <![CDATA[
            select PROVINCE_CODE  baseType ,sum(budget.BUDGET_AMOUNT)  fundMoney
            from SRPMS_PROJECT_TASK_INN  task ,SRPMS_PROJECT pro,
                 ISUMP_DEPT dept,SRPMS_PROJECT_BUDGET_DETAIL  budget
              where pro.ID  = task.PROJECT_ID
                   and  task.PROJECT_ID = budget.PROJECT_ID
                   and  budget.BUDGET_CATEGORY = '0111'
                   and  pro.LEAD_DEPT_ID = dept.ID
                   and  pro.status = 50
                   and to_char(pro.project_action_date_start, 'yyyy') <=
                       to_char(sysdate, 'yyyy')
                   and to_char(pro.project_action_date_end, 'yyyy') >=
                       to_char(sysdate, 'yyyy')
              group by dept.PROVINCE_CODE
            ]]>
    </select>


    <!--- 具体地区 项目到位经费、项目数量、任务数量-->
    <select id="queryRegionData"  resultMap="RegionalDataVo"  parameterType="java.util.Map">
        <![CDATA[
           select
              PROVINCE_CODE baseType,
                            count(*) taskNum,
              count(distinct pro.ID) proNum,
              sum(PRD_RECEIVE_OUTLAY) fundMoney
            from SRPMS_PROJECT_TASK_INN  task ,ISUMP_DEPT dept,SRPMS_PROJECT pro
                 left join  DSS_PRD_RECEIVE_OUTLAY_ACADEMY nt on pro.PROJECT_NUM= nt.PRO_CODE
              and  SUBSTR(nt.PERIOD_RECEIVE, 0, 4) = to_char(sysdate, 'yyyy')
              where pro.ID  = task.PROJECT_ID and  pro.LEAD_DEPT_ID= dept.ID
                   and  pro.status = 50
                   and to_char(pro.project_action_date_start, 'yyyy') <=
                       to_char(sysdate, 'yyyy')
                   and to_char(pro.project_action_date_end, 'yyyy') >=
                       to_char(sysdate, 'yyyy')
              group by dept.PROVINCE_CODE
            ]]>
    </select>



    <!---   创新工程延续项目与新获项目 -->
    <select id="queryScaleData"  resultMap="RegionalProScaleVo"  parameterType="java.util.Map">
        <![CDATA[
          -- 创新工程延续项目与新获项目
           select temp1.continueNum,temp1.newNum,temp2.budgetAmout,temp3.receiveOutlay from (
           select sum(case
           when
           to_char(pro.project_action_date_start, 'yyyy') <
               to_char(sysdate, 'yyyy')
           and to_char(pro.project_action_date_end, 'yyyy') >=
           to_char(sysdate, 'yyyy') then 1
           else 0 end) continueNum,
           sum(case
           when
           to_char(pro.project_action_date_start, 'yyyy') =
           to_char(sysdate, 'yyyy')
           and to_char(pro.project_action_date_end, 'yyyy') >=
           to_char(sysdate, 'yyyy') then 1
           else 0 end) newNum
           from SRPMS_PROJECT pro
           where pro.status = 50 and SUBSTR(pro.PROJECT_TYPE,0,6) = '100101'
           ) temp1,

           ---  新获项目经费
           (select sum(bugget.BUDGET_AMOUNT) budgetAmout from  SRPMS_PROJECT pro ,SRPMS_PROJECT_BUDGET_DETAIL bugget where pro.ID = bugget.PROJECT_ID
           and pro.status = 50
            AND bugget.BUDGET_CATEGORY='0101'
           and
           to_char(pro.project_action_date_start, 'yyyy') =
           to_char(sysdate, 'yyyy')
           and to_char(pro.project_action_date_end, 'yyyy') >=
           to_char(sysdate, 'yyyy')
           and  SUBSTR(pro.PROJECT_TYPE,0,6) = '100101') temp2,

           -- 到位经费
           (select  sum(outlay.PRD_RECEIVE_OUTLAY) receiveOutlay  from DSS_PRD_RECEIVE_OUTLAY_ACADEMY  outlay
           where  SUBSTR(outlay.PERIOD_RECEIVE, 0, 4) = to_char(sysdate, 'yyyy')) temp3
      ]]>
    </select>

    <!--年龄分布 高级占比 -->
    <select id="queryAgeData"  resultMap="RegionalAgeVo"  parameterType="java.util.Map">
        <![CDATA[
          select
              count(age)  totalNum,
              sum(case when age > 45 then 1 else 0 end ) over45Num,
              sum(case when age <= 45 then 1 else 0 end )  low45Num,
              sum(case when position_title = '10' then 1 else 0 end ) highNum
            from (
              select leader.NAME name,
                     leader.id_card,
                     leader.DEPT  deptCode,
                     TRUNC(months_between(sysdate, leader.birth_date) / 12) AS age,
                     leader.position_title
              from SRPMS_PROJECT pro,
                   ISUMP_USER leader
                where
                   pro.status = 50
                     and pro.LEAD_PERSON_ID = leader.id
                     and to_char(pro.project_action_date_end, 'yyyy') >=
                         to_char(sysdate, 'yyyy')
                     and  SUBSTR(pro.PROJECT_TYPE,0,6) = '100101'
                union
                select
                   usr.NAME name,
                   usr.id_card,
                   usr.DEPT deptCode,
                   TRUNC(months_between(sysdate, usr.birth_date) / 12) AS age,
                   usr.position_title
                from
                   SRPMS_PROJECT pro,
                   SRPMS_PROJECT_PERSON_JOIN menber,
                   ISUMP_USER usr
                where
                   pro.status = 50
                     and pro.PROJECT_NUM = menber.PROJECT_NUM
                     and menber.PERSON_ID = usr.ID
                     and to_char(pro.project_action_date_end, 'yyyy') >=
                         to_char(sysdate, 'yyyy')
                     and SUBSTR(pro.PROJECT_TYPE,0,6) = '100101'
            ) temp1

        ]]>
    </select>

    <!--柱状图到位经费 -->
    <select id="queryColumnarData"  resultMap="RegionalDataVo"  parameterType="java.util.Map">
        <![CDATA[
          select
               dept.ID,
               dept.DEPT_NAME baseType,
               sum(outlay.PRD_RECEIVE_OUTLAY) fundMoney,
               count(distinct  pro.PROJECT_NUM) proNum
        from DSS_PRD_RECEIVE_OUTLAY_ACADEMY  outlay,SRPMS_PROJECT pro,ISUMP_DEPT  dept
        where  SUBSTR(outlay.PERIOD_RECEIVE, 0, 4) = to_char(sysdate, 'yyyy')
          and pro.LEAD_DEPT_ID  = dept.ID
          and pro.status = 50 and  outlay.PRO_CODE = pro.PROJECT_NUM
        ]]>
      <if test="proviceCode != null and proviceCode != ''">
      and dept.PROVINCE_CODE = #{proviceCode}
      </if>
        <![CDATA[
                group by  dept.DEPT_NAME,dept.ID
        ]]>
    </select>
</mapper>
