<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.fssc.engine.automatic.mapper.AvAccountBaseReleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.fssc.engine.automatic.entity.AvAccountBaseRele">
        <id column="ID" property="id" />
        <result column="ELEMENT_ID" property="elementId" />
        <result column="BASE_ID" property="baseId" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="ETX_1" property="etx1" />
        <result column="ETX_2" property="etx2" />
        <result column="ETX_3" property="etx3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ELEMENT_ID, BASE_ID, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, ETX_1, ETX_2, ETX_3
    </sql>

</mapper>
