<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.fssc.business.pay.mapper.PyPamentPublicLineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.fssc.business.pay.entity.PyPamentPublicLine">
        <id column="ID" property="id" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_USER_NAME" property="createUserName" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="VERSION" property="version" />
        <result column="DOCUMENT_ID" property="documentId" />
        <result column="DOCUMENT_TYPE" property="documentType" />
        <result column="CONNECT_DOCUMENT_NUM" property="connectDocumentNum" />
        <result column="CONNECT_DOCUMENT_TYPE" property="connectDocumentType" />
        <result column="PAY_AMOUNT" property="payAmount" />
        <result column="UNIT_NAME" property="unitName" />
        <result column="COMMON_CREDIT_CODE" property="commonCreditCode" />
        <result column="BANK_ACCOUNT" property="bankAccount" />
        <result column="BANK_NAME" property="bankName" />
        <result column="BRANCH_BANK_NAME" property="branchBankName" />
        <result column="INTER_BRANCH_NUMBER" property="interBranchNumber" />
        <result column="BANK_INTERNATIONAL_CODE" property="bankInternationalCode" />
        <result column="PAY_STATUS" property="payStatus" />
        <result column="EX1" property="ex1" />
        <result column="EX2" property="ex2" />
        <result column="EX3" property="ex3" />
        <result column="EX4" property="ex4" />
        <result column="EX5" property="ex5" />
        <result column="EX6" property="ex6" />
        <result column="EX7" property="ex7" />
        <result column="EX8" property="ex8" />
        <result column="EX9" property="ex9" />
        <result column="EX10" property="ex10" />
        <result column="EX11" property="ex11" />
        <result column="EX12" property="ex12" />
        <result column="EX13" property="ex13" />
        <result column="EX14" property="ex14" />
        <result column="EX15" property="ex15" />
        <result column="LINE_NUMBER" property="lineNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CREATE_BY, CREATE_USER_NAME, UPDATE_BY, UPDATE_TIME, CREATE_TIME, VERSION, DOCUMENT_ID, DOCUMENT_TYPE, CONNECT_DOCUMENT_NUM, CONNECT_DOCUMENT_TYPE, PAY_AMOUNT, UNIT_NAME, COMMON_CREDIT_CODE, BANK_ACCOUNT, BANK_NAME, BRANCH_BANK_NAME, INTER_BRANCH_NUMBER, BANK_INTERNATIONAL_CODE, PAY_STATUS, EX1, EX2, EX3, EX4, EX5, EX6, EX7, EX8, EX9, EX10, EX11, EX12, EX13, EX14, EX15, LINE_NUMBER
    </sql>

</mapper>
