<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.fssc.base.mapper.BaseExpenseMainTypeUnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.fssc.base.entity.BaseExpenseMainTypeUnit">
        <id column="ID" property="id" />
        <result column="EXPENSE_MAIN_TYPE_ID" property="expenseMainTypeId" />
        <result column="ORG_UNIT_ID" property="orgUnitId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, EXPENSE_MAIN_TYPE_ID, ORG_UNIT_ID, CREATE_TIME, CREATE_BY, UPDATE_BY, UPDATE_TIME
    </sql>

</mapper>
