<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.fssc.base.mapper.BaseDocumentTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.fssc.base.entity.BaseDocumentType">
        <id column="ID" property="id"/>
        <result column="TYPE_CODE" property="typeCode"/>
        <result column="NAME" property="name"/>
        <result column="FUNCTION_MODULE" property="functionModule"/>
        <result column="BUDGET_CONTROL_FLAG" property="budgetControlFlag"/>
        <result column="BUDGET_REMAIN_FLAG" property="budgetRemainFlag"/>
        <result column="BUDGET_OCCUPY_FLAG" property="budgetOccupyFlag"/>
        <result column="PHONE_AUDIT_FLAG" property="phoneAuditFlag"/>
        <result column="AUDIT_FLAG" property="auditFlag"/>
        <result column="POST_FLAG" property="postFlag"/>
        <result column="VALID_FLAG" property="validFlag"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="EXT1" property="ext1"/>
        <result column="EXT2" property="ext2"/>
        <result column="EXT3" property="ext3"/>
        <result column="EXT4" property="ext4"/>
        <result column="EXT5" property="ext5"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TYPE_CODE, NAME, FUNCTION_MODULE, BUDGET_CONTROL_FALG, BUDGET_REMAIN_FLAG, BUDGET_OCCUPY_FLAG,
        PHONE_AUDIT_FLAG,AUDIT_FLAG, POST_FLAG, VALID_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME,
        EXT1, EXT2, EXT3, EXT4, EXT5
    </sql>

</mapper>
