<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.rulesystem.mapper.OaRuleSystemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.rulesystem.entity.OaRuleSystem">
        <id column="ID" property="id" />
        <result column="TITLE" property="title" />
        <result column="URGENT_LEVEL" property="urgentLevel" />
        <result column="RULE_SORT_CODE" property="ruleSortCode" />
        <result column="RULE_SORT_NAME" property="ruleSortName" />
        <result column="APPLY_ORG_CODE" property="applyOrgCode" />
        <result column="APPLY_ORG_NAME" property="applyOrgName" />
        <result column="APPLY_USER_ID" property="applyUserId" />
        <result column="APPLY_USER_NAME" property="applyUserName" />
        <result column="APPLY_DATETIME" property="applyDatetime" />
        <result column="RULE_CONTENT" property="ruleContent" />
        <result column="DEL_FLAG" property="delFlag" />
        <result column="RULE_HIT" property="ruleHit" />
        <result column="APPROVAL_STATUS" property="approvalStatus" />
        <result column="ISNEED_BUSSINESS" property="isneedBussiness" />
        <result column="UPDATE_DATETIME" property="updateDatetime" />
        <result column="UPDATE_USER_NAME" property="updateUserName" />
        <result column="UPDATE_USER_ID" property="updateUserId"/>
        <result column="ORDER_NUM" property="orderNum" />
        <result column="APPLY_DEPT_CODE" property="applyDeptCode" />
        <result column="DEPT_PER" property="deptPer" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TITLE, URGENT_LEVEL, RULE_SORT_CODE, RULE_SORT_NAME, APPLY_ORG_CODE, APPLY_ORG_NAME, APPLY_USER_ID, APPLY_USER_NAME, APPLY_DATETIME, RULE_CONTENT, DEL_FLAG, RULE_HIT, APPROVAL_STATUS, ISNEED_BUSSINESS, UPDATE_DATETIME, UPDATE_USER_NAME, UPDATE_USER_ID, ORDER_NUM, APPLY_DEPT_CODE, DEPT_PER
    </sql>

    <select id="getHomeList" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List" />
        FROM(
            SELECT
              <include refid="Base_Column_List"/>
            FROM OA_SELF.OA_RULE_SYSTEM
            WHERE APPROVAL_STATUS = 'normal'
            <if test="deptCode != null">
                AND APPLY_DEPT_CODE = #{deptCode }
            </if>
            ORDER BY APPLY_DATETIME DESC
            )
        WHERE
          ROWNUM &lt;= #{num }
    </select>

    <select id="getOrgPerList" resultMap="BaseResultMap">
        SELECT DISTINCT
            b.ID, b.TITLE, b.URGENT_LEVEL, b.RULE_SORT_CODE, b.RULE_SORT_NAME,
            b.APPLY_ORG_CODE, b.APPLY_ORG_NAME, b.APPLY_USER_ID, b.APPLY_USER_NAME,
            b.APPLY_DATETIME, '' AS RULE_CONTENT, b.DEL_FLAG, b.RULE_HIT, b.APPROVAL_STATUS,
            b.ISNEED_BUSSINESS, b.UPDATE_DATETIME, b.UPDATE_USER_NAME, b.UPDATE_USER_ID,
            b.ORDER_NUM, b.APPLY_DEPT_CODE, b.DEPT_PER
        FROM oa_notice_permission a
        JOIN oa_rule_system b ON a.OBJECT_ID = b.ID
        WHERE
        (
        a.ORG_CODE = #{orgCode } OR
        a.DEPT_CODE = #{deptCode } OR
        b.APPLY_USER_ID = #{userId }
        )
        AND b.APPROVAL_STATUS = 'normal'
        <if test="curOrgCode != null and curOrgCode != ''">
            AND b.APPLY_ORG_CODE = #{curOrgCode }
        </if>
        <if test="sortCode != null and sortCode != ''">
            AND b.RULE_SORT_CODE = #{sortCode }
        </if>
        ORDER BY b.APPLY_DATETIME DESC
    </select>

</mapper>