<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.srpmp.outline.mapper.SrpmsOutlineCooperationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.srpmp.outline.entity.SrpmsOutlineCooperation">
        <id column="ID" property="id" />
        <result column="BASE_ID" property="baseId" />
        <result column="PRO_CODE" property="proCode" />
        <result column="PRO_NAME" property="proName" />
        <result column="COOPERATION_CAT" property="cooperationCat" />
        <result column="COOPERATION_ORG" property="cooperationOrg" />
        <result column="PRO_IN_CHARGE" property="proInCharge" />
        <result column="PRO_OUTLAY" property="proOutlay" />
        <result column="PRO_START_DATE" property="proStartDate" />
        <result column="PRO_END_DATE" property="proEndDate" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_BY" property="createBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_BY" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, BASE_ID, PRO_CODE, PRO_NAME, COOPERATION_CAT, COOPERATION_ORG, PRO_IN_CHARGE, PRO_OUTLAY, PRO_START_DATE, PRO_END_DATE, CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
    </sql>

    <!--根据条件查询国合项目数据-->
    <select id="listQuery" parameterType="com.deloitte.platform.api.srpmp.outline.param.SrpmsOutlineCooperationQueryForm"
            resultType="com.deloitte.platform.api.srpmp.outline.param.SrpmsOutlineCooperationQueryParam">
        SELECT t1.*, t2.org_id, t2.year, t2.month
        FROM
        SRPMS_OUTLINE_COOPERATION t1
        LEFT JOIN
        SRPMS_OUTLINE_BASE t2
        ON
        t1.BASE_ID = t2.id
        WHERE
        1=1
        <if test="orgId != null">
            AND t2.org_id = #{orgId}
        </if>
        <if test="year != null and year != ''">
            AND t2.year = #{year}
        </if>
        <if test="month != null and month != ''">
            AND t2.month = #{month}
        </if>
        <if test="proCode != null and proCode != ''">
            AND t1.PRO_CODE = #{proCode}
        </if>
        <if test="proName != null and proName != ''">
            AND t1.pro_name LIKE '%'||#{proName}||'%'
        </if>
        <if test="cooperationCat != null and cooperationCat != ''">
            AND t1.cooperation_cat = #{cooperationCat}
        </if>
        <if test="cooperationOrg != null and cooperationOrg != ''">
            AND t1.cooperation_org = #{cooperationOrg}
        </if>
        <if test="proInCharge != null and proInCharge != ''">
            AND t1.pro_in_charge LIKE '%'||#{proInCharge}||'%'
        </if>
        <if test="proOutlay != null and proOutlay != ''">
            AND t1.pro_outlay = #{proOutlay}
        </if>
        <if test="proStartDate != null and proStartDate != ''">
            AND t1.pro_start_date >= to_date(CONCAT(#{proStartDate},'00:00:00') ,'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="proEndDate != null and proEndDate != ''">
            AND t1.pro_end_date &lt;= to_date(CONCAT(#{proEndDate},'23:59:59'),'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="createBy != null and createBy != ''">
            AND t1.create_by = #{createBy}
        </if>
        ORDER by nvl(t1.create_time, TO_DATE('1900-01-01', 'YYYY-MM-DD HH24:MI:SS')) DESC
    </select>

    <!--根据条件(单位+项目编号)查询题录-国合项目数据-->
    <select id="getQueryCount" parameterType="java.util.Map"
            resultType="int">
        SELECT count(*)
        FROM
        SRPMS_OUTLINE_COOPERATION t1
        LEFT JOIN
        SRPMS_OUTLINE_BASE t2
        ON
        t1.BASE_ID = t2.id
        WHERE
        1=1AND t2.org_id = #{orgId}
        AND t1.PRO_CODE = #{proCode}
        <if test="id != null">
            AND t1.id &lt;&gt; #{id}
        </if>
    </select>

</mapper>
