<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.isump.mapper.DeputyAccountRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.isump.entity.DeputyAccountRole">
        <id column="ID" property="id" />
        <result column="DEPUTY_ACCOUNT_ID" property="deputyAccountId" />
        <result column="ROLE_ID" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, DEPUTY_ACCOUNT_ID, ROLE_ID
    </sql>

    <select id="selectRolesByDeputyAccountId" resultType="String">
        select ROLE_ID from ISUMP_DEPUTY_ACCOUNT_ROLE where DEPUTY_ACCOUNT_ID = #{deputyAccountId}
    </select>
</mapper>
