<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.fssc.business.travle.mapper.TasCostInformationLineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.fssc.business.travle.entity.TasCostInformationLine">
        <id column="ID" property="id" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_USER_NAME" property="createUserName" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="EXT1" property="ext1" />
        <result column="EXT2" property="ext2" />
        <result column="EXT3" property="ext3" />
        <result column="EXT4" property="ext4" />
        <result column="EXT5" property="ext5" />
        <result column="EXT6" property="ext6" />
        <result column="EXT7" property="ext7" />
        <result column="EXT8" property="ext8" />
        <result column="EXT9" property="ext9" />
        <result column="EXT10" property="ext10" />
        <result column="EXT11" property="ext11" />
        <result column="EXT12" property="ext12" />
        <result column="EXT13" property="ext13" />
        <result column="EXT14" property="ext14" />
        <result column="EXT15" property="ext15" />
        <result column="VERSION" property="version" />
        <result column="NAME" property="name" />
        <result column="JOB_NUMBER" property="jobNumber" />
        <result column="LEVEL_NAME" property="levelName" />
        <result column="TRAVEL_BEGIN_TIME" property="travelBeginTime" />
        <result column="TRAVEL_END_TIME" property="travelEndTime" />
        <result column="LOCATION_BEG_TRAVEL" property="locationBegTravel" />
        <result column="LOCATION_END_TRAVEL" property="locationEndTravel" />
        <result column="TOTAL_FOREHEAD" property="totalForehead" />
        <result column="REMARK" property="remark" />
        <result column="DAY_NUM" property="dayNum" />
        <result column="UNIT_PRICE" property="unitPrice" />
        <result column="TOTAL_SUM" property="totalSum" />
        <result column="LINE_NUMBER" property="lineNumber" />
        <result column="DOCUMENT_ID" property="documentId" />
        <result column="DOCUMENT_TYPE" property="documentType" />
        <result column="CONNECT_COST_TYPE" property="connectCostType" />
        <result column="ORG_ID" property="orgId" />
        <result column="ORG_PATH" property="orgPath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CREATE_BY, CREATE_USER_NAME, UPDATE_BY, UPDATE_TIME, CREATE_TIME, EXT1, EXT2, EXT3, EXT4, EXT5, EXT6, EXT7, EXT8, EXT9, EXT10, EXT11, EXT12, EXT13, EXT14, EXT15, VERSION, NAME, JOB_NUMBER, LEVEL_NAME, TRAVEL_BEGIN_TIME, TRAVEL_END_TIME, LOCATION_BEG_TRAVEL, LOCATION_END_TRAVEL, TOTAL_FOREHEAD, REMARK, DAY_NUM, UNIT_PRICE, TOTAL_SUM, LINE_NUMBER, DOCUMENT_ID, DOCUMENT_TYPE, CONNECT_COST_TYPE, ORG_ID, ORG_PATH
    </sql>

    <select id="existsByExpenseSubTypeIds" resultType="java.lang.Long">
        select count(ID) from TAS_COST_INFORMATION_LINE where SUB_TYPE_ID in
        <foreach collection="ExpenseSubTypeList" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
    </select>

</mapper>
