<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.services.fssc.business.travle.mapper.TasTravelReimburseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.services.fssc.business.travle.entity.TasTravelReimburse">
        <id column="ID" property="id" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_USER_NAME" property="createUserName" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="VERSION" property="version" />
        <result column="DOCUMENT_NUM" property="documentNum" />
        <result column="DOCUMENT_STATUS" property="documentStatus" />
        <result column="UNIT_ID" property="unitId" />
        <result column="DEPT_ID" property="deptId" />
        <result column="PROJECT_ID" property="projectId" />
        <result column="MAIN_TYPE_ID" property="mainTypeId" />
        <result column="TOTAL_SUM" property="totalSum" />
        <result column="IS_AGREED_PROMIS" property="isAgreedPromis" />
        <result column="REMARK" property="remark" />
        <result column="UNIT_NAME" property="unitName" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="MAIN_TYPE_NAME" property="mainTypeName" />
        <result column="PROJECT_NAME" property="projectName" />
        <result column="EXT1" property="ext1" />
        <result column="EXT2" property="ext2" />
        <result column="EXT3" property="ext3" />
        <result column="EXT4" property="ext4" />
        <result column="EXT5" property="ext5" />
        <result column="EXT6" property="ext6" />
        <result column="EXT7" property="ext7" />
        <result column="EXT8" property="ext8" />
        <result column="EXT9" property="ext9" />
        <result column="EXT10" property="ext10" />
        <result column="EXT11" property="ext11" />
        <result column="EXT12" property="ext12" />
        <result column="EXT13" property="ext13" />
        <result column="EXT14" property="ext14" />
        <result column="EXT15" property="ext15" />
        <result column="UNIT_CODE" property="unitCode" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="PROJECT_CODE" property="projectCode" />
        <result column="MAIN_TYPE_CODE" property="mainTypeCode" />
        <result column="CURRENCY_CODE" property="currencyCode" />
        <result column="PAYMENT_TYPE" property="paymentType" />
        <result column="TRAVEL_PEOPLE_NUM" property="travelPeopleNum" />
        <result column="PAID_AMOUNT" property="paidAmount" />
        <result column="NO_PAID_AMOUNT" property="noPaidAmount" />
        <result column="ASSOCIAT_TRAVEL_APPLY" property="associatTravelApply" />
        <result column="PAY_STATUS" property="payStatus" />
        <result column="SUPPORT_FILE_NUM" property="supportFileNum" />
        <result column="IS_AFTER_PATCH" property="isAfterPatch" />
        <result column="EXPENSE_AMOUNT" property="expenseAmount" />
        <result column="BUSINUSS_AMOUNT" property="businussAmount" />
        <result column="VERIFICATION_AMOUNT" property="verificationAmount" />
        <result column="PAY_COMPANY_AMOUNT" property="payCompanyAmount" />
        <result column="PAY_SALARY_AMOUNT" property="paySalaryAmount" />
        <result column="ORG_ID" property="orgId" />
        <result column="ORG_PATH" property="orgPath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CREATE_BY, CREATE_USER_NAME, UPDATE_BY, UPDATE_TIME, CREATE_TIME, VERSION, DOCUMENT_NUM, DOCUMENT_STATUS, UNIT_ID, DEPT_ID, PROJECT_ID, MAIN_TYPE_ID, TOTAL_SUM, IS_AGREED_PROMIS, REMARK, UNIT_NAME, DEPT_NAME, MAIN_TYPE_NAME, PROJECT_NAME, EXT1, EXT2, EXT3, EXT4, EXT5, EXT6, EXT7, EXT8, EXT9, EXT10, EXT11, EXT12, EXT13, EXT14, EXT15, UNIT_CODE, DEPT_CODE, PROJECT_CODE, MAIN_TYPE_CODE, CURRENCY_CODE, PAYMENT_TYPE, TRAVEL_PEOPLE_NUM, PAID_AMOUNT, NO_PAID_AMOUNT, ASSOCIAT_TRAVEL_APPLY, PAY_STATUS, SUPPORT_FILE_NUM, IS_AFTER_PATCH, EXPENSE_AMOUNT, BUSINUSS_AMOUNT, VERIFICATION_AMOUNT, PAY_COMPANY_AMOUNT, PAY_SALARY_AMOUNT, ORG_ID, ORG_PATH
    </sql>

    <select id="countByExpenseMainTypeIds" resultType="java.lang.Long">
        select count(ID) from TAS_TRAVEL_REIMBURSE where MAIN_TYPE_ID in
        <foreach collection="idList" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
    </select>

</mapper>
